<section data-ng-controller="CustomersUpdateController as customerUpCtrl">

  <div class="modal-header">
    <h3 class="modal-title">Alterar {{customer.firstName}} {{customer.surName}}</h3>
  </div>

  <div class="modal-body">
    <form name="updateCustomerForm">
      <fieldset>
        <div class="row">
          <div class="form-group">
            <div data-ng-show="error" class="text-center text-danger">
              <div class="alert alert-danger" role="alert">
                <strong data-ng-bind="error"></strong>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <i class="glyphicon glyphicon-user cust-profile"
            ng-class="{'text-primary':customer.referred, 'text-danger':!customer.referred}" /*style="font-size:-webkit-xxx-large; color:gray"*/></i>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <div class="controls">
                <input type="text" data-ng-model="customer.firstName" id="firstname" class="form-control" placeholder="Primeiro Nome" required>
              </div>
            </div>
            <div class="form-group">
              <div class="controls">
                <input type="text" data-ng-model="customer.surName" id="surname" class="form-control" placeholder="Último Nome" required>
              </div>
            </div>
            <div class="form-group">
              <div class="controls">
                <input type="text" data-ng-model="customer.country" id="country" class="form-control" placeholder="País">
              </div>
            </div>
            <div class="form-group">
              <div class="controls">
                <input type="text" data-ng-model="customer.suburb" id="suburb" class="form-control" placeholder="Bairro">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <div class="form-group">
              <div class="controls">
                <input type="text" data-ng-model="customer.phone" id="phone" class="form-control" placeholder="Telefone">
              </div>
            </div>
            <div class="form-group">
              <div class="controls">
                <input type="text" data-ng-model="customer.email" id="email" class="form-control" placeholder="Email" required>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6" >
            <div class="form-group">
              <div class="controls">
                <h5><label class="control-label text-muted" for="referred" >Referencia
                  <input type="checkbox" class="checkbox-left"
                  data-ng-model="customer.referred" id="referred"></label></h5>
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                  <input type="text" data-ng-model="customer.industry" id="industry" class="form-control" placeholder="Industria">
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                  <select data-ng-controller="CustomersController" data-ng-model="customer.channel" id="channel" class="form-control"
                          ng-options="channelItem.item for channelItem in channelOptions">
                     <option value="">{{customer.channel}}</option>
                   </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12 text-center">
            <button class="btn btn-success" type="button" ng-click="customerUpCtrl.update(customer); ok()" ng-disabled="updateCustomerForm.$invalid">Salvar e Fechar</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>


  </section
